<div class="section">
    <mat-card class="card" [formGroup]="loginForm">
        <h3 class="heading">Login</h3>
        <table>


            <tr>
                <td> <label>Username: </label></td>
                <td>
                    <div class="example-container">

                        <mat-form-field appearance="fill">

                            <input type="text" formControlName="username" matInput placeholder="Username" required>
                            <small style="color: red;">{{getUserNameErrorMsg()}}</small>
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            

            <tr>
                <td><label>Password: </label></td>
                <td>
                    <div class="example-container">

                        <mat-form-field appearance="fill">


                            <input type="password" formControlName="password" matInput placeholder="Password" required>
                            <small style="color: red;">{{getPasswordErrorMsg()}}</small>
                        </mat-form-field>

                    </div>
                </td>
            </tr>
            

        </table>

        <section>

            <div class="example-button-row login-btn">
                <button mat-raised-button color="primary" (click)="login()">Submit</button>
            </div>
        </section>
    </mat-card>
</div>