<div class="cardis">
<form (ngSubmit)="searchbookmarkedJodDetails(searchForm.value)" #searchForm="ngForm" method="post" align="center">
  <mat-form-field appearance="fill">
    <mat-label>Search by Location</mat-label>
    <input matInput name="search" ngModel>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="button" type="submit">Search</button>

</form>

<br>
  <mat-grid-list cols="4" rowHeight="350px"  style="height: 350px;" gutterSize="30px">
    <mat-grid-tile *ngFor ="let job of jobs" style="height: 350px;">
  
    <mat-card class="display" color="primary" >
         <mat-card-header>
           <mat-card-title><b>Job Details</b></mat-card-title>
        </mat-card-header>
    

        <mat-card-content>
          <p>
           Job id : {{job.jobid}}
          </p>
        </mat-card-content>
        
        <mat-card-content>
            <p>
            Job role :  {{job.jobrole}}
            </p>
          </mat-card-content>
          
        <mat-card-content>
            <p>
            Job Location :  {{job.joblocation}}
            </p>
          </mat-card-content>

          <mat-card-content>
            <p>
            Company Name :  {{job.companyname}}
            </mat-card-content>

        
        <mat-card-actions>
            <button mat-raised-button color="primary" (click) ="removefrombookmark(job)">Remove</button>
    
         </mat-card-actions>
          
        
        <mat-divider></mat-divider>
    </mat-card>
  </mat-grid-tile>

  </mat-grid-list>

</div>



